.navbar{
    box-shadow: 2px 2px 5px rgb(142, 217, 247);
    background: black;
    opacity: 0.9;
}

.nav-item{
    font-size: 1rem;
    padding-left: 18px;
}

.nav-link{
    color: #1b1b1b;
}

.nav-link:hover{
    color: #1b1b1b;
}