#banner {
    background-image: url('../../img/bg-2.jpg');
    min-height: 600px;
    position: relative;

 
    
}

.overlay{
    background: rgba(87, 90, 90, 0.7);
    min-height: 600px;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.explore_btn {
    width:33%;
}


@media(max-width: 576px){
    #banner h1{
        font-size: 3rem;
    }
    .explore_btn{
        width:50%;
    }
      
}